@import "../teaser/teaser.css";
@import "../detailed-teaser/detailed-teaser.css";
@import "./glider.min.css";

/* carousel wrapper stretches over complete width */
.section div.carousel-wrapper {
  margin-bottom: var(--spectrum-spacing-500);
  max-width: unset;

  /* stretches to window edge in mobile view */
  margin-left: calc(-1 * var(--space-token-xs));
  margin-right: calc(-1 * var(--space-token-xs));
}

/* contains all teaser divs */
.carousel.block>.panel-container {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow: auto;
  scroll-behavior: smooth;
  margin: auto;
  align-items: stretch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel.block>.panel-container::-webkit-scrollbar {
  display: none;
}

/* teaser inside carousel have same height and texts are centered */
.carousel.block>.panel-container>.detailed-teaser.block,
.carousel.block>.panel-container>.teaser.block {
  flex-shrink: 0;
  scroll-snap-align: start;
  height: auto;
}

.carousel.block>.panel-container>.detailed-teaser.block>.foreground,
.carousel.block>.panel-container>.teaser.block>.foreground {
  height: 100%;
  display: flex;
}

.carousel.block>.panel-container>.teaser.block>.foreground {
  align-items: center;
}

/* contains the carousel buttons */
.carousel.block>.button-container {
  display: flex;
  justify-content: center;
  gap: 4px;
  padding-top: 22px;
}

/* defines look of a button */
.carousel.block>.button-container button {
  display: block;
  height: 10px;
  width: 10px;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: transparent;
}

.carousel.block>.button-container button.selected {
  background-color: grey;
}

.primary.block>.carousel-navigation-buttons {
  display: none;
}

.secondary.block>.button-container {
  display: none;
}

/* homepage top banner carousel css start */
.section.banner-carousel-wrapper .carousel-wrapper .carousel .panel-container .teaser {
  position: relative;
  min-height: 529px;
}

.section.banner-carousel-wrapper .carousel-wrapper .carousel.block {
  position: relative;
  margin-top: unset;
  margin-bottom: unset;
}

.banner-carousel-wrapper .carousel-wrapper .carousel .panel-container .teaser .foreground {
  width: 62.50%;
}

.banner-carousel-wrapper .carousel-wrapper .carousel .panel-container .teaser .foreground .long-description {
  margin-top: 16px;
}

.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block>.background .front-picture {
  position: absolute;
  right: 150px;
  bottom: 0;
}

.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block>.background {
  background-position: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 0 150px;
}

.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block>.background .front-picture img {
  height: 335px;
  width: 394px;
  display: block;
  object-fit: contain;
}

.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block>.background .foreground .text .title>h2,
.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block>.background .foreground .text .title>h1,
.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block>.background .foreground .text .eyebrow,
.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-five .background .foreground .text .title>h3,
.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-five .background .foreground .text .title>h1 .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-five .background .foreground .text .eyebrow,
.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-six .background .foreground .text .title>h3,
.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-six .background .foreground .text .title>h1,
.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-six .background .foreground .text .eyebrow,
.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-seven .background .foreground .text .title>h3,
.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-seven .background .foreground .text .title>h1,
.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-seven .background .foreground .text .eyebrow,
.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-whatsapp-banner .background .foreground .long-description>h2,
.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-whatsapp-banner .background .foreground .long-description>h2>strong {
  color: var(--black);
  font-family: "Nunito-Extrabold", sans-serif;
  font-size: 3rem;
  font-weight: 800;
  line-height: 60px;
  margin: unset;
}

.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-five>.background .foreground .text .long-description>p,
.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-five>.background .foreground .text .long-description>p>em,
.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-five>.background .foreground .text .long-description>p>strong,
.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-six>.background .foreground .text .long-description>p,
.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-one>.background .foreground .text .long-description>p,
.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-seven>.background .foreground .text .long-description>p,
.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.--skyblue>.background .foreground .text .long-description>p {
  color: var(--gradient-gray);
  font-family: "Nunito-Regular", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 32px;
  margin: unset;
}

.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-five>.background .foreground {
  width: 50%;
}

.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-five>.background .foreground .text .long-description>p>em {
  text-decoration: line-through;
  font-style: normal;
}

.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-five>.background .foreground .text .long-description>p>strong {
  color: var(--orange);
}

.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-six>.background .foreground .text .long-description {
  margin-right: 30px;
}

.section.banner-carousel-wrapper.banner-description-align .carousel-wrapper .panel-container .teaser.block.teaser-block-six>.background .foreground .text .long-description {
  margin-right: 12px;
}

.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block>.background .foreground .text .short-description>p {
  color: var(--black);
  font-family: "Nunito-Regular", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 32px;
  margin: unset;
}

.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block>.background .foreground .text .cta {
  position: unset;
  margin-top: 2rem;
}

.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block>.background .foreground .text .cta>a,
.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-six>.background .foreground .text .short-description>ul>li>p>a {
  background: var(--orange);
  border-radius: 8px;
  color: #fff;
  font-family: 'Nunito-Bold', sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 20px;
  padding: 18px 2.16pc 18px 34.65px;
  width: fit-content;
  position: unset;
  margin: 0;
  cursor: pointer;
}

.section.banner-carousel-wrapper .carousel-wrapper .carousel.block .button-container {
  position: absolute;
  left: 160px;
  bottom: 40px;
  gap: 8px;
}

.section.banner-carousel-wrapper .carousel-wrapper .carousel.block .button-container>button {
  height: 8px;
  width: 8px;
  background-color: var(--black);
  opacity: .2;
  border: unset;
}

.section.banner-carousel-wrapper .carousel-wrapper .carousel.block .button-container>button.selected {
  width: 24px;
  background-color: var(--black);
  opacity: 1;
}

.section.banner-carousel-wrapper .carousel-wrapper .carousel.block .button-container>button.selected.--white.teaser-block-two,
.section.banner-carousel-wrapper .carousel-wrapper .carousel.block .button-container>button.selected.teaser-block-seven.bg--linear-red {
  background-color: var(--white);
}

.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.--coralred>.background .foreground .text .title>h2,
.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.--coralred>.background .foreground .text .title>h1 {
  color: var(--orange);
}

.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-two>.background .foreground .text .title>h2,
.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-two>.background .foreground .text .title>h1,
.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-seven .background .foreground .text .title>h3,
.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-seven .background .foreground .text .title>h1,
.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-seven .background .foreground .text .eyebrow,
.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-seven>.background .foreground .text .long-description>p {
  color: var(--white);
}

.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-two>.background .foreground .text .eyebrow {
  font-family: 'Nunito-Regular', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 20px;
  color: var(--white);
}

.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-two>.background .front-picture {
  bottom: 80px;
}

.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-seven>.background .foreground .cta-image-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 32px;
}

.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-seven>.background .foreground .text .cta-image-wrapper .cta-image>a>picture>img {
  height: 58px;
  width: 196px;
  border-radius: 10px;
  display: block;
}

.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-six>.background .foreground .text .short-description>ul>li {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: 32px;
}

.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-six>.background .foreground .text .short-description>ul>li>p {
  position: unset;
}

.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-six>.background .foreground .text .short-description>ul>li>ul>li {
  color: #666;
  font-family: 'Nunito-Regular', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
}

.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-six>.background .foreground .text .short-description>ul>li>ul>li>a {
  color: #365069;
  font-family: 'Nunito-Bold', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 28px;
  text-decoration: underline;
}

.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-one>.background .foreground .text .long-description>p {
  color: var(--black);
}

.banner-carousel-wrapper .carousel-wrapper .carousel .panel-container .teaser.teaser-block-two .foreground {
  width: 66%;
}

/* first banner css  */
.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-whatsapp-banner .background .foreground .long-description>h2>strong {
  color: #349E58;
}

.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-whatsapp-banner .background .foreground .long-description {
  margin-top: unset;
}

.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-whatsapp-banner .background .foreground .text .cta-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  margin-top: 24px;
  column-gap: 40px;
}

.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-whatsapp-banner .background .foreground .text .cta-image-wrapper .img-with-text-wrap .cta-image>a {
  cursor: auto;
}

.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-whatsapp-banner .background .foreground .text .cta-image-wrapper .img-with-text-wrap {
  max-width: 100px;
  width: 100%;
}

/* .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-whatsapp-banner .background .foreground .text .cta-image-wrapper .img-with-text-wrap .cta-image,
.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-whatsapp-banner .background .foreground .text .cta-image-wrapper .img-with-text-wrap p {
  display: flex;
  align-items: center;
} */

.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-whatsapp-banner .background .foreground .text .cta-image-wrapper .img-with-text-wrap .cta-image>a img {
  width: 72px;
  height: 72px;
}

.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-whatsapp-banner .background .foreground .text .cta-image-wrapper .img-with-text-wrap p {
  color: var(--darkcharcoal);
  font-family: "Nunito-Regular", sans-serif;
  font-size: 1.125rem;
  line-height: 26px;
  /* padding: 8px 64px 0 0; */
  padding-top: 8px;
}

.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-whatsapp-banner>.background .front-picture img {
  width: 517px;
  height: 432px;
}

.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-whatsapp-banner>.background .foreground .text .eyebrow,
.section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-whatsapp-banner .background .foreground .long-description>h2 {
  color: var(--darkcharcoal);
}

.section.banner-carousel-wrapper.careers-page-banner .carousel-wrapper .panel-container .teaser.block>.background {
  align-items: start;
}

.banner-carousel-wrapper.careers-page-banner .carousel-wrapper .carousel .panel-container .teaser .foreground {
  padding-top: 133px;
}

.section.banner-carousel-wrapper.careers-page-banner .carousel-wrapper .carousel .panel-container .teaser {
  min-height: 630px;
}

.section.banner-carousel-wrapper.careers-page-banner .carousel-wrapper .panel-container .teaser.block>.background .front-picture img {
  height: 394px;
  mix-blend-mode: luminosity;
  width: 814px;
}

.section.banner-carousel-wrapper.careers-page-banner .carousel-wrapper .panel-container .teaser.block.teaser-block-six>.background .foreground .text .long-description>p {
  color: var(--darkcharcoal);
  margin-top: 4px;
}

.section.banner-carousel-wrapper.cities-page-align-banner .carousel-wrapper .carousel .panel-container .teaser {
  min-height: 496px;
}

.section.banner-carousel-wrapper.cities-page-align-banner .carousel-wrapper .panel-container .teaser.block.teaser-block-six>.background .foreground .text .short-description>ul>li {
  margin-top: 48px;
}

.section.banner-carousel-wrapper.cities-page-align-banner .carousel-wrapper .panel-container .teaser.block>.background .front-picture {
  bottom: 20%;
}

.banner-carousel-wrapper.capital-loan-banner .carousel-wrapper .carousel .panel-container .teaser .foreground,
.banner-carousel-wrapper.personal-loan-sub-page-banner .carousel-wrapper .carousel .panel-container .teaser .foreground {
  width: 72%;
}

.section.banner-carousel-wrapper.self-employed-banner .carousel-wrapper .panel-container .teaser.block>.background .front-picture {
  right: 20px;
}

.section.banner-carousel-wrapper.business-loan-sub-page-banner .carousel-wrapper .panel-container .teaser.block>.background .front-picture,
.section.banner-carousel-wrapper.personal-loan-sub-page-banner .carousel-wrapper .panel-container .teaser.block>.background .front-picture {
  right: 140px;
}

.section.banner-carousel-wrapper.business-loan-mob-text-banner .carousel-wrapper .panel-container .teaser.block.teaser-block-six>.background .foreground .text .short-description>h1,
.section.banner-carousel-wrapper.business-loan-mob-text-banner .carousel-wrapper .panel-container .teaser.block.teaser-block-six>.background .foreground .text .short-description>p {
  display: none
}

.section.banner-carousel-wrapper.business-loan-sub-page-banner .carousel-wrapper .panel-container .teaser.block>.background .foreground .text .short-description>ul>li {
  margin-top: 48px;
}

.section.banner-carousel-wrapper.insta-loan-banner .carousel-wrapper .panel-container .teaser.block>.background .front-picture img {
  width: 394px;
  height: 391px;
}

.section.banner-carousel-wrapper.insta-loan-banner .carousel-wrapper .panel-container .teaser.block>.background .front-picture {
  bottom: -4px;
}

@media (min-width:1024px) and (max-width:1366px) {
  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block>.background .front-picture img {
    width: 312px;
    height: 265px;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-two>.background .front-picture img {
    width: 312px;
    height: 325px;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block>.background {
    padding: 0 150px 0 160px;
  }

  .banner-carousel-wrapper .carousel-wrapper .carousel .panel-container .teaser.teaser-block-two .foreground {
    width: 70%;
  }

  .section.banner-carousel-wrapper.banner-description-align .carousel-wrapper .panel-container .teaser.block.teaser-block-six>.background .foreground .text .long-description {
    margin-right: 40px;
  }
}

@media screen and (max-width:1024px) {
  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block>.background {
    padding: 0;
    background-size: 100% 100%;
  }

  .banner-carousel-wrapper .carousel-wrapper .carousel .panel-container .teaser .foreground,
  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-five>.background .foreground,
  .banner-carousel-wrapper.personal-loan-sub-page-banner .carousel-wrapper .carousel .panel-container .teaser .foreground {
    width: 100%;
    min-height: 450px;
    padding: 0 16px;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block>.background .foreground .text .title>h2,
  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block>.background .foreground .text .title>h1,
  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block>.background .foreground .text .eyebrow,
  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-five .background .foreground .text .title>h3,
  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-five .background .foreground .text .title>h1,
  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-five .background .foreground .text .eyebrow,
  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-six .background .foreground .text .title>h3,
  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-six .background .foreground .text .title>h1,
  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-six .background .foreground .text .eyebrow,
  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-seven .background .foreground .text .title>h3,
  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-seven .background .foreground .text .title>h1,
  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-seven .background .foreground .text .eyebrow,
  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-whatsapp-banner .background .foreground .long-description>h2,
  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-whatsapp-banner .background .foreground .long-description>h2>strong {
    font-size: 1.5rem;
    line-height: 32px;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-five>.background .foreground .text .long-description>p,
  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-five>.background .foreground .text .long-description>p>em,
  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-five>.background .foreground .text .long-description>p>strong,
  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-six>.background .foreground .text .long-description>p,
  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-one>.background .foreground .text .long-description>p,
  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-seven>.background .foreground .text .long-description>p,
  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.--skyblue>.background .foreground .text .long-description>p {
    font-size: .875rem;
    line-height: 20px;
  }

  .banner-carousel-wrapper .carousel-wrapper .carousel .panel-container .teaser .foreground .long-description {
    margin-top: 12px;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block>.background .foreground .text .cta>a,
  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-six>.background .foreground .text .short-description>ul>li>p>a {
    font-size: .875rem;
    line-height: 17px;
    padding: 14px 16px;
    margin: 0;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block>.background .foreground .text .cta {
    margin-top: 24px;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-six>.background .foreground .text .long-description {
    margin-right: 0;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-six>.background .foreground .text .short-description>ul>li {
    align-items: start;
    gap: 20px;
    flex-direction: column;
    margin-top: 24px;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-six>.background .foreground .text .short-description>ul>li>ul>li {
    font-size: .75rem;
    line-height: 16px;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-six>.background .foreground .text .short-description>ul>li>ul>li>a {
    font-size: .875rem;
    line-height: 20px;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block>.background .foreground .text {
    padding-top: 40px;
  }

  .section.banner-carousel-wrapper.breadcrumb-container .carousel-wrapper .panel-container .teaser.block>.background .foreground .text {
    padding-top: 64px;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .carousel.block .button-container {
    left: 12px;
    gap: 8px;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .carousel.block .button-container>button {
    height: 5px;
    width: 5px;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .carousel.block .button-container>button.selected {
    width: 13px;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-two>.background .foreground .text .eyebrow {
    font-size: .875rem;
    line-height: 16px;
    margin-bottom: 12px;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block>.background .front-picture img {
    height: 170px;
    width: 200px;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block>.background .front-picture,
  .section.banner-carousel-wrapper.business-loan-sub-page-banner .carousel-wrapper .panel-container .teaser.block>.background .front-picture,
  .section.banner-carousel-wrapper.personal-loan-sub-page-banner .carousel-wrapper .panel-container .teaser.block>.background .front-picture {
    right: 16px;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-two>.background .front-picture {
    bottom: 0;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-seven>.background .foreground .cta-image-wrapper {
    gap: 12px;
    margin-top: 24px;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-seven>.background .foreground .text .cta-image-wrapper .cta-image>a>picture>img {
    height: 30px;
    width: 100px;
    border-radius: 2px;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-one>.background .foreground .text .long-description>p {
    margin-top: 20px;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-whatsapp-banner .background .foreground .text .cta-image-wrapper {
    margin-top: 12px;
    column-gap: 10px;
    align-items: flex-start;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-whatsapp-banner .background .foreground .text .cta-image-wrapper .img-with-text-wrap {
    max-width: 80px;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-whatsapp-banner .background .foreground .text .cta-image-wrapper .img-with-text-wrap .cta-image>a img {
    width: 40px;
    height: 40px;
    display: block;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-whatsapp-banner .background .foreground .text .cta-image-wrapper .img-with-text-wrap p {
    font-size: 0.875rem;
    line-height: 20px;
    padding-top: 4px;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-whatsapp-banner>.background .front-picture img {
    width: 240px;
    height: 200px;
  }

  .banner-carousel-wrapper.careers-page-banner .carousel-wrapper .carousel .panel-container .teaser .foreground {
    padding-top: unset;
  }

  .section.banner-carousel-wrapper.careers-page-banner .carousel-wrapper .panel-container .teaser.block>.background .front-picture img {
    height: 154px;
  }

  .section.banner-carousel-wrapper.cities-page-align-banner .carousel-wrapper .panel-container .teaser.block.teaser-block-six>.background .foreground .text .short-description>ul>li {
    margin-top: 36px;
  }
  .section.banner-carousel-wrapper.cities-page-align-banner .carousel-wrapper .panel-container .teaser.block>.background .front-picture {
    bottom: 0;
  }
  .section.banner-carousel-wrapper.cities-page-align-banner .carousel-wrapper .carousel .panel-container .teaser {
    min-height: 400px;
  }
  .section.banner-carousel-wrapper.capital-loan-banner .carousel-wrapper .panel-container .teaser.block.teaser-block-six>.background .foreground .text .long-description>p>br {
    display: none;
  }
  .section.banner-carousel-wrapper.business-loan-sub-page-banner .carousel-wrapper .panel-container .teaser.block>.background .foreground .text .short-description>ul>li {
    margin-top: 36px;
  }
  .section.banner-carousel-wrapper.flexi-loan-banner .carousel-wrapper .panel-container .teaser.block>.background .front-picture img {
    width: 200px;
    height: 138px;
  }
  .section.banner-carousel-wrapper.flexi-loan-banner .carousel-wrapper .panel-container .teaser.block>.background .front-picture,
  .section.banner-carousel-wrapper.insta-loan-banner .carousel-wrapper .panel-container .teaser.block>.background .front-picture {
    right: -10px;
  }
  .section.banner-carousel-wrapper.insta-loan-banner .carousel-wrapper .panel-container .teaser.block>.background .front-picture img {
    width: 200px;
    height: 152px;
  }
  .section.banner-carousel-wrapper.insta-loan-banner .carousel-wrapper .panel-container .teaser.block>.background .front-picture {
    bottom: 0;
  }
}

@media screen and (max-width:767px) {
  .section.banner-carousel-wrapper .carousel-wrapper .carousel .panel-container .teaser {
    min-height: 450px;
  }

  .section.banner-carousel-wrapper.careers-page-banner .carousel-wrapper .panel-container .teaser.block>.background .front-picture {
    right: 16px;
  }

  .banner-carousel-wrapper .carousel-wrapper .carousel .panel-container .teaser.teaser-block-two .foreground,
  .banner-carousel-wrapper.capital-loan-banner .carousel-wrapper .carousel .panel-container .teaser .foreground {
    width: 100%;
  }

  .section.banner-carousel-wrapper.rm-apply-btn-in-mob .carousel-wrapper .teaser.teaser-block-six>.background .foreground .text .short-description>ul>li>p {
    display: none;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-six>.background .foreground .text .long-description>p {
    margin-top: 12px;
  }

  .section.banner-carousel-wrapper.careers-page-banner .carousel-wrapper .carousel .panel-container .teaser {
    min-height: 450px;
  }

  .section.banner-carousel-wrapper.careers-page-banner .carousel-wrapper .panel-container .teaser.block>.background .front-picture img {
    width: 100%;
  }

  .section.banner-carousel-wrapper.capital-loan-banner .carousel-wrapper .panel-container .teaser.block.teaser-block-six>.background .foreground .text .long-description {
    margin-right: 10px;
  }
  .section.banner-carousel-wrapper.self-employed-banner .carousel-wrapper .panel-container .teaser.block>.background .front-picture {
    right: 10px;
  }
  .section.banner-carousel-wrapper.business-loan-mob-text-banner .carousel-wrapper .panel-container .teaser.block.teaser-block-six>.background .foreground .text .short-description>h1,
  .section.banner-carousel-wrapper.business-loan-mob-text-banner .carousel-wrapper .panel-container .teaser.block.teaser-block-six>.background .foreground .text .short-description>p {
    display: block;
  }

  .section.banner-carousel-wrapper.business-loan-mob-text-banner .carousel-wrapper .panel-container .teaser.block.teaser-block-six>.background .foreground .text .short-description>h1 {
    color: var(--black);
    font-family: "Nunito-Extrabold", sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 32px;
    margin: unset;
  }
  .section.banner-carousel-wrapper.business-loan-mob-text-banner .carousel-wrapper .panel-container .teaser.block.teaser-block-six>.background .foreground .text .short-description>p {
    color: var(--gradient-gray);
    font-family: "Nunito-Regular", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 20px;
    margin-top: 12px;
  }
  .section.banner-carousel-wrapper.business-loan-mob-text-banner .carousel-wrapper .panel-container .teaser.block>.background .foreground .text .title>h1,
  .section.banner-carousel-wrapper.business-loan-mob-text-banner .carousel-wrapper .panel-container .teaser.block>.background .foreground .text .eyebrow,
  .section.banner-carousel-wrapper.business-loan-mob-text-banner .carousel-wrapper .panel-container .teaser.block.teaser-block-six>.background .foreground .text .long-description>p {
    display: none;
  }
  .banner-carousel-wrapper.business-loan-mob-text-banner .carousel-wrapper .carousel .panel-container .teaser .foreground .long-description {
    margin-top: 0;
  }
  /* .banner-carousel-wrapper .carousel-wrapper .carousel .panel-container .teaser .foreground .long-description>p {
      white-space: normal;
  }

  .banner-carousel-wrapper .carousel-wrapper .carousel .panel-container .teaser .foreground .long-description>p>br {
    display: none;
  } */
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section.banner-carousel-wrapper .carousel-wrapper .carousel .panel-container .teaser {
    min-height: 440px;
  }

  .banner-carousel-wrapper .carousel-wrapper .carousel .panel-container .teaser.teaser-block-two .foreground {
    width: 50%;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-six>.background .foreground .text .long-description>p {
    margin-top: 20px;
  }

  .section.banner-carousel-wrapper.careers-page-banner .carousel-wrapper .carousel .panel-container .teaser {
    min-height: 400px;
  }

  .section.banner-carousel-wrapper.careers-page-banner .carousel-wrapper .panel-container .teaser.block>.background .front-picture img {
    height: 154px;
    width: 412px;
  }

  .section.banner-carousel-wrapper.careers-page-banner .carousel-wrapper .panel-container .teaser.block>.background .front-picture {
    right: 60px;
  }
  .banner-carousel-wrapper.capital-loan-banner .carousel-wrapper .carousel .panel-container .teaser .foreground {
    width: 53%;
  }
  .section.banner-carousel-wrapper.self-employed-banner .carousel-wrapper .panel-container .teaser.block>.background .front-picture {
    right: 10px;
  }
}

/* homepage top banner carousel css end */

/* ----- TABLET ----- */
@media (min-width: 600px) {
  .section div.carousel-wrapper {
    /* stretches to window edge, cover section padding */
    margin-left: calc(-1 * var(--space-token-xl));
    margin-right: calc(-1 * var(--space-token-xl));
  }
}

@media (min-width: 600px) {
  .section.carousel-container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1300px) {
  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-five>.background .foreground {
    width: 52%;
  }

  .banner-carousel-wrapper.capital-loan-banner .carousel-wrapper .carousel .panel-container .teaser .foreground {
    width: 85%;
  }

  .section.banner-scale-img .carousel-wrapper .carousel .panel-container .teaser {
    min-height: 443px;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block>.background {
    padding: 0 125px 0 120px;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .carousel.block .button-container {
    left: 119px;
    bottom: 60px;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block>.background .front-picture img {
    height: 335px;
    width: 394px;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser-block-one.block>.background .front-picture img {
    width: 312px;
    height: 265px;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-two>.background .front-picture img {
    width: 204px;
    height: 212px;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block>.background {
    background-size: cover;
  }

  .section.banner-carousel-wrapper .carousel-wrapper .panel-container .teaser.block.teaser-block-two>.background .front-picture {
    bottom: 55%;
    right: 9%;
    translate: -50% 50%;
  }

  .section.banner-scale-img .carousel-wrapper .panel-container .teaser.block>.background .front-picture img {
    width: 350px;
    height: 315px;
    object-position: bottom;
    object-fit: contain;
  }
  .section.banner-scale-img .carousel-wrapper .carousel .panel-container .teaser .foreground{
    width: 64%;
  }
  .section.banner-scale-img  .carousel-wrapper .panel-container .teaser.block>.background .foreground .text .eyebrow{
    padding-top: 60px;
  }
  .section.banner-carousel-wrapper.careers-page-banner .carousel-wrapper .panel-container .teaser.block>.background .front-picture img {
    width: 814px;
    height: 394px;
  }
  .banner-carousel-wrapper.careers-page-banner .carousel-wrapper .carousel .panel-container .teaser .foreground {
    width: 80%;
    padding-top: 120px;
  }
  .section.banner-carousel-wrapper.careers-page-banner .carousel-wrapper .carousel .panel-container .teaser {
    min-height: 627px;
  } 
  .section.banner-carousel-wrapper.careers-page-banner .carousel-wrapper .panel-container .teaser.block>.background .front-picture,
  .section.banner-carousel-wrapper.business-loan-sub-page-banner .carousel-wrapper .panel-container .teaser.block>.background .front-picture,
  .section.banner-carousel-wrapper.personal-loan-sub-page-banner .carousel-wrapper .panel-container .teaser.block>.background .front-picture {
    right: 120px;
  }
  .banner-carousel-wrapper.business-loan-sub-page-banner .carousel-wrapper .carousel .panel-container .teaser .foreground {
    width: 80%;
  }
}